<ion-header>
    <ion-toolbar color="rosado">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Carreras Aceptadas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-list-header color="medium">
        <ion-label>Lista De Carreras Aceptadas</ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let carrera of carrerasAceptadas">
        <ion-item-options side="end">
          <ion-item-option color="verdec" (click)="irDetalleCarrera(carrera)" expandable>Carrera</ion-item-option>
          <ion-item-option color="rosadoClaro" (click)="irDetalleConductora(carrera)" expandable>Conductora</ion-item-option>
        </ion-item-options>
        
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>{{ carrera.descLugar }}</h3>
          </ion-text>
          <p><i>{{carrera.fechaInicio | date: 'dd/MM/yyyy HH:mm:ss'}}</i></p>
        </ion-label>
        
      </ion-item-sliding>
    </ion-list>
  
    <div class="fondo-home"></div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="rosado" (click)="irMapCarrera()" >
        <ion-icon name="logo-model-s"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </ion-content>
  