<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840758066173-uhu9r0mek8730nld20nqbeimlnagvq8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840758066173-uhu9r0mek8730nld20nqbeimlnagvq8c</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Cw7eoLQMk3WbD-Rng3--7EUVTRscCCY</string>
	<key>GCM_SENDER_ID</key>
	<string>840758066173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mav.usuarios</string>
	<key>PROJECT_ID</key>
	<string>mav-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mav-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840758066173:ios:90ae3d3a0f07ab1742f794</string>
	<key>DATABASE_URL</key>
	<string>https://mav-firebase.firebaseio.com</string>
</dict>
</plist>