
<ion-header>
    <ion-toolbar color="rosado">
      <ion-title>Mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <input id="pac-input" class="controls" type="text" placeholder="Busca alguna zona de tu interés">
    <div #map id="map"></div>
        
      
    <ion-fab (click)="guardarLatLong()"  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="verdec">
        <ion-icon name="pin"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  