<ion-header>
  <ion-fab vertical="top" horizontal="start" color="secondary" >
    <ion-fab-button color="qwerty">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-fab-button>
  </ion-fab>  
</ion-header>
<ion-content> 
  <div #mapre id="mapre"></div>
  
  <form [formGroup]="frmCarrera" novalidate>
    <ion-list> 
      <ion-item (click)="irMapaOrigen()">
        <ion-label position="stacked">
          <h2>Dirección Origen</h2>
          <p>{{ direccionIni }}</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="irMapaDestino()">
        <ion-label position="stacked">
            <h2>Dirección Destino</h2>
            <p >{{ direccionFin }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">
              <h2>Costo</h2>
              <p >{{ carrera.costo }}</p>
          </ion-label>
        </ion-item>
    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="verdec" (click)=grabar() [disabled]="frmCarrera.invalid">
        <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>