<ion-content>
    <div class="fondo-login"></div>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/image/Auto.png" />
        </ion-card-header>
        <ion-card-content class="fondo-transparente">
          <form [formGroup]="formLogin" novalidate>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-input formControlName="vuser" [(ngModel)]="user"></ion-input>
              </ion-item>
              <print-error [control]="f.vuser"></print-error>

              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input formControlName="vpass" [(ngModel)]="pass" type="password"></ion-input>
              </ion-item>
              <print-error [control]="f.vpass"></print-error>

            </ion-list>

            <ion-button expand="block" color="verdec" shape="round" (click)="ingresar()" [disabled]="formLogin.invalid">
              Ingresar
            </ion-button>
            
            <ion-button expand="block" color="verdec" shape="round" (click)="irRegistrarCliente()" >
              Crear Cuenta
            </ion-button>
          </form>
        </ion-card-content>
    </ion-card>
</ion-content>
