<ion-app>
    <ion-split-pane>
      <ion-menu>
        <ion-header>
          <div class="banner-menu" *ngIf="cliente">
            <div>
              <div style="float: left;">
                <ion-thumbnail slot="start">
                  <img src="assets/image/photo.png">
                </ion-thumbnail>
              </div>
              <div style="float: right;">
                <ion-buttons slot="end">
                  <ion-menu-toggle>
                    <ion-button (click)="irCerrarSesion()">
                      <ion-icon style="color:white;" slot="icon-only" name="log-out"></ion-icon>
                    </ion-button>
                  </ion-menu-toggle>
                </ion-buttons>
              </div>
            </div>
            <br style="clear: both;"/>
            <br />
            <div>
              <div style="float: left;margin-top:0.5rem;width:80%">
                <ion-label style="color:white;"  slot="start">
                  {{cliente?.nombre}}
                </ion-label>
              </div>
              <div style="float: right;">
                <ion-buttons slot="end">
                  <ion-menu-toggle>
                    <ion-button (click)="irDetalleCliente()">
                      <ion-icon style="color:white;"  slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                  </ion-menu-toggle>
                </ion-buttons>
              </div>
            </div>
            <br style="clear: both;"/>
          </div>
        </ion-header>
        <ion-content>
          <ion-list *ngIf="cliente">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="irPagina(p)">
                <ion-icon style="color:white;" slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
              
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngFor="let a of pageShare">
              <ion-item [routerDirection]="'root'" [routerLink]="[a.url]" (click)="compartirViaFacebook()">
                <ion-icon style="color:white;" slot="start" [name]="a.icon"></ion-icon>
                <ion-label>
                  {{a.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>