<ion-header>
  <ion-toolbar color="rosado">
    <ion-title>Detalle Carrera</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <ion-list *ngIf="conductora">
  <ion-item>
    <ion-avatar slot="end">
      <img [src]="urlImagenFirebase">
        </ion-avatar>
        <ion-label>
         <h3>{{ conductora?.nombre }} {{ conductora?.paterno }}</h3>
         <h1>{{vehiculo?.placa}}</h1>
         <p>{{vehiculo?.marca}} - {{vehiculo?.modelo}}</p>
         <h3>{{ carrera.costo }} {{ carrera.moneda }}</h3>
         <!--<p>{{ carrera.fechaInicio }}</p>-->
      </ion-label>
      
    </ion-item>
    <ion-chip (click)="irWhatsApp()" class="ion-margin-start">
        <ion-avatar>
          <img src="../../../assets/image/whatsapp.png">
        </ion-avatar>
        <ion-label>Chatear con la conductora.</ion-label>
      </ion-chip>
    <!--<ion-item>
      <ion-label position="stacked">Costo</ion-label>
      <ion-input value="{{ carrera.costo }} {{ carrera.moneda }}" readonly></ion-input>
    </ion-item>
-->
    <!--<ion-item>
      <ion-label position="stacked">Descripción Lugar</ion-label>
      <ion-textarea value="{{ carrera.descLugar }}" readonly></ion-textarea>
    </ion-item>
-->
<!--
    <ion-item>
      <ion-label position="stacked">Fecha/Hora</ion-label>
      <ion-datetime value="{{ carrera.fechaInicio }}" readonly displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
    </ion-item>
    --><!--
    <ion-item *ngIf="codigoColorCliente">
      <ion-label [ngStyle]="{'color': codigoColorCliente}">Color del contrato</ion-label>
      <ion-select placeholder="Select One" (ionChange)="cambiarColor()" [(ngModel)]="codigoColorCliente">
        <ion-select-option value="{{color.codigo}}" *ngFor="let color of colores">{{color.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>
-->
    <div *ngIf="carrera.estado == 3">
      <div *ngIf="mostrarCalificacion">
        <form [formGroup]="form" novalidate>
          <ion-item>
            <ion-label position="floating">Valoración Carrera</ion-label>
          </ion-item>
          <ion-item>
            <rating [rate]="carrera.califConductora"
              readonly="true"
              size="default">
            </rating>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Observación</ion-label>
            <ion-textarea readonly value="{{ carrera.obsConductora }}"></ion-textarea>
          </ion-item>
        </form>
      </div>
    </div>
    <ion-item *ngIf="carrera.enCamino">
      <ion-label>Voy en camino</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="verdec" (click)="showOpcionesCarrera()">
      <ion-icon name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
