<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buscar Destino 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="pac-input-carrera" class="controls" type="text" placeholder="Busca la zona de tu destino">
  <div #maps id="maps"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="verdec" (click)="irRegistroCarrera()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>