<ion-card>
  <ion-item *ngIf="titulo">
    <ion-label>{{ titulo }}</ion-label>
    <div *ngIf="lectura">
      <ion-icon *ngIf="urlImagenFirebase" slot="end" name="trash" (click)="eliminarImagen()"></ion-icon>
    </div>
  </ion-item>
  <div *ngIf="urlImagenFirebase">
    <img [src]="urlImagenFirebase" />
  </div>
  <ion-spinner *ngIf="cargandoImagen"></ion-spinner>
  
  <div *ngIf="lectura">
    <div class="fileUpload" *ngIf="!cargandoImagen">
      <span>Cargar Imagen</span>
      <input type="file" class="upload" (change)="uploadImagen($event)" />
    </div>
  </div>

</ion-card>