<cabecera titulo="Registro de carrera"></cabecera>

<ion-content padding>
  <form [formGroup]="frmCarrera" novalidate>
    <ion-list> 
      <ion-item>
          <ion-label position="stacked" >Cliente</ion-label>
          <ion-input >{{cliente?.nombre}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Origen</h2>
          <p >Lat: {{ carrera.latInicio }}</p>
          <p >Long: {{ carrera.longInicio }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>
          <h2>Dstino</h2>
          <p >Lat: {{ carrera.latFin }}</p>
          <p >Long: {{ carrera.longFin }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Descripción del lugar</ion-label>
        <ion-textarea  formControlName="vdescLugar" [(ngModel)]="carrera.descLugar">
        </ion-textarea>
      </ion-item>
      <print-error [control]="f.vdescLugar"></print-error>

      <ion-item>
        <ion-label position="stacked">Moneda</ion-label>
        <ion-select placeholder="Seleccione el tipo de Moneda" formControlName="vmoneda" [(ngModel)]="carrera.moneda" disabled>
            <ion-select-option value="Bolivianos">Bolivianos</ion-select-option>
            <ion-select-option value="Dolares">Dolares</ion-select-option>
        </ion-select>
      </ion-item>
      <print-error [control]="f.vmoneda"></print-error>

      <ion-item>
        <ion-label position="stacked">Costo</ion-label>
        <ion-input > {{carrera.costo}}</ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Fecha y hora</ion-label>
        <ion-datetime formControlName="vfechaInicio" [(ngModel)]="carrera.fechaInicio"
                      display-format="DD/MM/YYYY HH:mm"></ion-datetime>
      </ion-item>
      <print-error [control]="f.vfechaInicio"></print-error>      

      <ion-item>
        <ion-label position="stacked">Tipo</ion-label>
        <ion-select placeholder="Seleccione el tipo de pago" formControlName="vtipoPago" [(ngModel)]="carrera.tipoPago">
          <ion-select-option value="Empresa">Empresa</ion-select-option>
          <ion-select-option value="Efectivo">Efectivo</ion-select-option>
          <ion-select-option value="Total">Total</ion-select-option>
          <ion-select-option value="Deposito">Deposito</ion-select-option>
      </ion-select>
      </ion-item>
      <print-error [control]="f.vtipoPago"></print-error>
     
    </ion-list>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="confirmarFecha()" [disabled]="frmCarrera.invalid">
        <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
