<cabecera titulo="Contratos Solicitados"></cabecera>

<ion-content>
    <ion-list-header color="medium">
      <ion-label>Lista de Contratos Solicitados</ion-label>
    </ion-list-header>
    <ion-grid>
      <ion-row class="cabecera-tabla">
        <ion-col size="6">Titulo Contrato</ion-col>        
        <ion-col size="3">Dias</ion-col>
        <ion-col size="3">Hora</ion-col>
      </ion-row>
      <ion-row *ngFor="let contrato of lstContratosFiltrado" (click)="seleccionarContrato(contrato)" nowrap >        
        <ion-col size="6">{{contrato.codigoContrato}} </ion-col>        
        <ion-col size="3">{{contrato.dias}}</ion-col>
        <ion-col size="3">{{contrato.hora}}</ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
