<ion-header>
  <ion-fab vertical="top" horizontal="start" color="secondary" >
    <ion-fab-button color="qwerty">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-fab-button>
  </ion-fab>  
</ion-header>

<ion-content >
    
    <div #mapge id="mapge"></div>
    <ion-fab (click)="irMapCarrera()"  vertical="bottom" horizontal="start" slot="fixed">
        <ion-button color="verdec">
            <ion-icon name="clock"></ion-icon>&nbsp;Programar carrera
        </ion-button>
      </ion-fab>
      <ion-fab (click)="irMapRemisse()"  vertical="bottom" horizontal="end" slot="fixed">
          <ion-button color="verdec">
              <ion-icon name="logo-model-s"></ion-icon>&nbsp;Remisse
          </ion-button>
      </ion-fab>
</ion-content>
<!-- 4l3x31sv -->