<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/mujer-volante.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{cliente?.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bienvenida@ a la aplicación</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
