<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="pac-input" class="controls" type="text" placeholder="Busca alguna zona de tu interés">
  <div #map id="map"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irDetalleCarrera()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
