.fondo-home {
    background-image: url("../../assets/image/login.png") !important;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }